*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol,li{
    list-style: none;
}
html, body{
    margin: 0;
    scroll-behavior: smooth;
    font-size: 16px;
}

select {
    cursor: pointer;
    background-color: #2b4a56;
    color:#FDECDE;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-left: 1.5rem; 
    padding: 0.4rem;
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;

}
header{
    background-color:#FDECDE;
    width: 100vw;
    height: 3.8vw;
    display: flex;
    align-items: center;
    border: solid #000000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav a{
    color: #FDECDE;
    font-size: 0.8em;
    background-color: #2b4a56;
    padding: 0.5rem;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
}
#logo{
    width: 28vh;
    padding: 0.8rem;
    align-items: flex-start;
} 
#conteiner-nav{
    width: 75%;
    padding-right: 3rem;
}
.grupo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#pag1{
    width: 100%;
    background-color: #2b4a56;
    display: flex;
    align-items: center;
    justify-content: center;
}
#conteiner-pag1{
    max-width: 1000px;
    max-height: 400px;
    width: 50%;
    height: 48%;
    background-color: #FDECDE;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    display: flex;
    align-items: center;
}
#conteiner-pag1 p{
    padding: 2.8rem;
    font-size: 40px;
    color: #2b4a56;
    font-family: "Irish Grover", system-ui;
}
#conteiner-img1{
    justify-content: end;
    display: flex;
    padding: 2.8rem;
}
#img-caixa{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12rem;
}
#pag2{
    width: 100%;
    background-image: url(./img/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#conteiner-pag2{
    background-color: #FDECDE;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#conteiner-pag2 p{
    font-size: 27px;
    color: #2b4a56;
    font-family: "Itim", cursive;
    padding: 3rem;
}
#pag2 h2{
    color: #FDECDE;
    font-size: 42px;
    font-family: "Irish Grover", system-ui;
    padding-right: 43rem;
    padding-bottom: 13rem;
}
#pag3{
    width: 100%;
    background-color: #2b4a56;
    display: flex;
}
.periodos{
    width: auto;
    padding: 10rem 4rem 10rem 4rem;
    color: #FDECDE;
    display: flex; 
    flex-direction: column; 
    gap: 5rem;
}
.periodos h2{
    font-size: 3rem;
    font-family: "Irish Grover", system-ui;
    font-weight: 452;
}
.periodos h3{
    font-size: 2.4rem;
    font-family: "Irish Grover", system-ui;
    font-weight: 452;
}

.classica p{
    font-size: 2rem;
    font-family: "Itim", cursive;
}
.classica a{
    color: #FDECDE;
}
.moderna p{
    font-size: 2rem;
    font-family: "Itim", cursive;
}
.moderna a{
    color: #FDECDE;
}
.contemporanea p{
    font-size: 2rem;
    font-family: "Itim", cursive;
}
.contemporanea a{
    color: #FDECDE;
}
#sobre-nos{
    width: 100%;
    background-color: #2b4a56;
    display: flex;
    padding: 4rem;
    display: flex; 
    flex-direction: column; 
    gap: 2.5rem;
}
#sobre-nos h2{
    font-size: 3rem;
    font-family: "Irish Grover", system-ui;
    font-weight: 452;
    color: #FDECDE;
}
#sobre-nos p{
    font-size: 2rem;
    font-family: "Itim", cursive;
    color: #FDECDE;
}
#eduarda-img{
    border-radius: 50%;
    width: 8%;
}
#giovanna-img{
    border-radius: 50%;
    width: 8%;
}
#isabelly-img{
    border-radius: 50%;
    width: 8%;
}
footer{
    background-color: #FDECDE;
    padding: 0.7rem;
    height: 5.5rem;
    text-align: center;
    align-items: center;
}
footer h2{
    font-size: 3rem;
    border: solid #000000;
    padding: 0;
    font-family: "Irish Grover", system-ui;
}